/* Background color, font family, other misc. text formatting */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #ECECEC;
}

/* Title formatting */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 0;
}

/* Various Text resizing */
h1{
  padding-bottom: 2rem;
}

h2{
  font-size: 2rem;
  padding-bottom: 1rem;
}

p{
  font-size: 1.5rem;
}

/* Centers time slot text */
.time-hour {
  font-size: 1.5rem;
  text-align: center;
}

/* Makes textarea transparent when not selected */
.form-control {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}
